{{ partial "head.html" . }}
<body>
  <div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
      <section class="archives-wrap">
	{{ range $tagname, $tag := .Data.Terms }}
	<div class="archive-tag-wrap">
          <span class="archive-tag">  {{ if lt (len $tagname) 1 }}默认{{end}} {{$tagname | title }} ({{.Count}})</span>
        </div>
	
	{{ range $tag.Pages }}
	{{ if and (.Title) (.IsPage) }}
        {{ partial "li.html" . }}
        {{ end }}
	{{ end }}

	{{ end }}

      </section>
    </section>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
