{{ partial "head.html" . }}
<body>
  <div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
      {{ range where (.Site.Pages.GroupByDate "2006") "Key"  "gt" "2000"}}
      <section class="archives-wrap">
        <div class="archive-tag-wrap">
          <span class="archive-tag">{{ .Key }}</span>
        </div>

        <div class="archives">
	  {{ range where .Pages  "Section" "in" (slice "tech" "life" "opinions") }}
	  {{ if and (.Title) (.IsPage) }}
          {{ partial "li.html" . }}
          {{ end }}
	  {{ end }}
        </div>
	{{ end }}
      </section>
      
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
